#navigation-store-id {
	margin-bottom:30px;
}

hr {
	margin-top:10px;
	margin-bottom:20px;
}

table.navigation-data tbody tr td {
	padding:0px;
	padding-bottom:0px;
	background:#afafaf;
	text-align:center;
}

table.navigation-data tbody tr td input {
	height:100%;
	width:calc(100% - 10px);
	border:transparent;
	padding-left:5px;
	padding-right:5px;
}

table.navigation-data tbody tr td input.value-changer {
	height:100%;
	width:calc(70% - 10px);
	border:transparent;
	padding-left:5px;
	padding-right:5px;
}

table.navigation-data tbody tr td p {
	height:100%;
	line-height: 58px;
	margin:0px;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
	font-weight: bold;
}

table.navigation-data tbody tr td select {
	height:100%;
	width:100%;
	border:transparent;
}


table.navigation-data tbody tr td select.url-target {
	height:100%;
	width:30%;
	background:#d8d8d8;
	border:transparent;
}

table.navigation-data tbody tr td button {
	padding:20px;
	width:100%;
}

div.new-voice-data input, div.new-voice-data select, div.new-voice-data button {
	margin-bottom:20px;
}