<h2>Modulo per la gestione custom del Menù di Navigazione</h2>
<p>Gestisci la navigazione di ogni store rinominando le categorie, settando l'ordinamento delle voci generate, inserendo voci di menù custom collegate a blocchi statici e/o a link interni ed esterni.<br/>Assegna classi alle varie voci di menù a Frontend.<br/>Ricorda che per disabilitare le categorie bisogna disabilitare la rappresentazione a menù direttamente da Gestione Categorie.</p>
<p><hr></p>
<h4>Cambia Store</h4>
<?php

	echo $this->renderStoreSelect("static-block-select",1);

?>

<div class="grid">
	<div>
		<?php 
			echo $this->renderNavigation();
		?>
	</div>
</div>

<hr>
<h4>Aggiungi voci alla navigazione</h4>
<div class="new-voice-data">
<input type="text" id="navigation-label" name="navigation-label" placeholder="Label della voce di Menu"><br/>
<input type="radio" name="type" value="block" class="new-navigation-choosed-type" checked> Block <input type="radio" name="type" value="url" class="new-navigation-choosed-type"> Url <br>
<input type="text" id="url-input" name="url-input" placeholder="Url della voce di Menu">
<select id="url-target-input" name="url-target">
	<option value="_blank">_blank</option>
	<option value="_self">_self</option>
</select>
<?php 

	echo $this->renderStaticBlocksSelector();

?>
<button id="submit-navigation-voice" title="Add Navigation Voice" type="button" onclick="UpdateNavigation()" class="scalable add"><span><span><span>Aggiungi una voce di Navigazione</span></span></span></button>
</div>

<script type="text/javascript">

	var navigationData = new Array();
	var newId = 0;
	var url = false;

	GenerateNavigationData();

	function DeleteRow(id){
		$(id).setStyle({display:'none'});
		for(var i = 0; i < navigationData.length; i++){
			if(navigationData[i].id == id){
				navigationData[i].delete = 1;
			}
		}	
		SaveNavigation();
	}	

	function GenerateNavigationData(){
		storeId = $('navigation-store-id').value;
		navigationData = [];
		var tr = $('navigation-content-manager-'+storeId).childElements();
		tr.each(function(element){
			var td = element.childElements();
			if(td.length > 1){
				if(element.hasClassName("saved")){

					if(element.readAttribute("catid")){
						var data = {name:td[0].childElements()[0].value,order: td[4].childElements()[0].value, outerClass: td[3].childElements()[0].value, innerClass:  td[2].childElements()[0].value, catid: element.readAttribute("catid"), store: storeId, id: element.readAttribute("id")};
					} 
					if(element.readAttribute("block")) {
						var data = {name:td[0].childElements()[0].value,order: td[4].childElements()[0].value, outerClass: td[2].childElements()[0].value, innerClass:  td[3].childElements()[0].value, block:td[1].childElements()[0].value, store: storeId, id: element.readAttribute("id")};
					}
					if(element.readAttribute("url")) {
						var data = {name:td[0].childElements()[0].value,order: td[4].childElements()[0].value, outerClass: td[2].childElements()[0].value, innerClass:  td[3].childElements()[0].value, url:td[1].childElements()[0].value, url_target:td[1].childElements()[1].value, store: storeId, id: element.readAttribute("id")}
					}

				} else {

					if(element.readAttribute("catid")){
						var data = {name:td[0].childElements()[0].value,order: td[4].childElements()[0].value, outerClass: td[3].childElements()[0].value, innerClass:  td[2].childElements()[0].value, catid: element.readAttribute("catid"), store: storeId, id: element.readAttribute("id")};
					} 
					if(element.readAttribute("block")) {
						var data = {name:td[0].childElements()[0].value,order: td[4].childElements()[0].value, outerClass: td[2].childElements()[0].value, innerClass:  td[3].childElements()[0].value, block:element.readAttribute("block"), store: storeId, id: element.readAttribute("id")};
					}
					if(element.readAttribute("url")) {
						var data = {name:td[0].childElements()[0].value,order: td[4].childElements()[0].value, outerClass: td[2].childElements()[0].value, innerClass:  td[3].childElements()[0].value, url:element.readAttribute("url"),  url_target:element.readAttribute("target"), store: storeId, id: element.readAttribute("id")};
					}

				}
				
				navigationData.push(data);
			}
		});
	}

	function UpdateNavigation(){
		storeId = $('navigation-store-id').value;
		var newLabel = $("navigation-label").value;
		var blockValue = $("static-block-select").value;
		var urlValue = $("url-input").value;
		var urlTarget = $("url-target-input").value;

		var tempHtml = "<tr id='new-"+newId+"' class='level-1'";

		if(url){
			tempHtml += " url='"+urlValue+"' target='"+urlTarget+"'><td><input type='text' value='"+newLabel+"' class='voice-name' id='"+newId+"'></td><td><p>Url = "+urlValue+", target = "+urlTarget+"</p></td><td><input type='text' class='outer-class-input'></td><td><input type='text' class='inner-class-input'></td><td><input type='number' min='0' class='order-input'></td><td><button title='Delete' type='button' class='scalable task delete-voice' voice='new-"+newId+"'><span><span><span>Cancella</span></span></span></button><td></tr>";
		} 
		if(!url){
			tempHtml += " block='"+blockValue+"'><td><input type='text' value='"+newLabel+"' class='voice-name' id='"+newId+"'></td><td><p>Block id = "+blockValue+"</p></td><td><input type='text' class='outer-class-input'></td><td><input type='text' class='inner-class-input'></td><td><input type='number' min='0' class='order-input'></td><td><button title='Delete' type='button' class='scalable task delete-voice' voice='new-"+newId+"'><span><span><span>Cancella</span></span></span></button><td></tr>";
		}

		$("navigation-content-manager-"+storeId).innerHTML += tempHtml;

		$$('.voice-name').each(function(element) {
	    element.observe('change', function(){
		    	GenerateNavigationData();
		    });
		});

		$$('.order-input').each(function(element) {
		    element.observe('change', function(){
		    	GenerateNavigationData();
		    });
		});

		$$('.block-input').each(function(element) {
		    element.observe('change', function(){
		    	GenerateNavigationData();
		    });
		});

		$$('.delete-voice').each(function(element) {
		    element.observe('click', function(){
		    	DeleteRow(element.readAttribute("voice"));
		    });
		});
		$$('.outer-class-input').each(function(element) {
		    element.observe('change', function(){
		    	GenerateNavigationData();
		    });
		});
		$$('.inner-class-input').each(function(element) {
		    element.observe('change', function(){
		    	GenerateNavigationData();
		    });
		});
		$$('.value-changer').each(function(element) {
			element.observe('change', function(){
			    GenerateNavigationData();
			});
		});
		$('navigation-store-id').observe('change',function(){
			var storeId = $('navigation-store-id').value;
			$$('.navigation-data').each(function(element){
				if(element.readAttribute("id") == "navigation-table-"+storeId){
					element.setStyle({display: "block"});
				} else {
					element.setStyle({display: "none"});
				}
			});
		});
		newId++;
		//Riaggiornare Ordine Navigazione
		GenerateNavigationData();
	}

	$$('.voice-name').each(function(element) {
	    element.observe('change', function(){
	    	GenerateNavigationData();
	    });
	});

	$$('.order-input').each(function(element) {
	    element.observe('change', function(){
	    	GenerateNavigationData();
	    });
	});

	$$('.block-input').each(function(element) {
	    element.observe('change', function(){
	    	GenerateNavigationData();
	    });
	});

	$$('.delete-voice').each(function(element) {
	    element.observe('click', function(){
	    	DeleteRow(element.readAttribute("voice"));
	    });
	});
	$$('.outer-class-input').each(function(element) {
		element.observe('change', function(){
		   	GenerateNavigationData();
		});
	});
	$$('.inner-class-input').each(function(element) {
		element.observe('change', function(){
		    GenerateNavigationData();
		});
	});
	$$('.inner-class-input').each(function(element) {
		element.observe('change', function(){
		    GenerateNavigationData();
		});
	});
	$$('.value-changer').each(function(element) {
		element.observe('change', function(){
		    GenerateNavigationData();
		});
	});

	$$('.new-navigation-choosed-type').each(function(element) {

		element.observe('click', function(){

			if(element.checked){
				if(element.value == "url"){
					url = true;
		   			$('static-block-select').setStyle({display:'none'});
		   			$('url-input').setStyle({display:'block'});
		   			$('url-target-input').setStyle({display:'block'});
				}
				if(element.value == "block"){
					url = false;
		   			$('static-block-select').setStyle({display:'block'});
		   			$('url-input').setStyle({display:'none'});
		   			$('url-target-input').setStyle({display:'none'});
				}
			}

		});
		
	});

	$$('.new-navigation-choosed-type').each(function(element) {

		if(element.checked){
			if(element.value == "url"){
				url = true;
		   		$('static-block-select').setStyle({display:'none'});
		   		$('url-input').setStyle({display:'block'});
		   		$('url-target-input').setStyle({display:'block'});
			}
			if(element.value == "block"){
				url = false;
		   		$('static-block-select').setStyle({display:'block'});
		   		$('url-input').setStyle({display:'none'});
		   		$('url-target-input').setStyle({display:'none'});
			}
		}

	});

	$('navigation-store-id').observe('change',function(){
		var storeId = $('navigation-store-id').value;
		$$('.navigation-data').each(function(element){
			if(element.readAttribute("id") == "navigation-table-"+storeId){
				element.setStyle({display: "block"});
			} else {
				element.setStyle({display: "none"});
			}
		});
	});

	function SaveNavigation(){

		new Ajax.Request('<?php echo Mage::helper("adminhtml")->getUrl("admin_navigation/adminhtml_navigationbackend/savenavigation"); ?>', {
			method:'post',
			parameters: {navigation: Object.toJSON(navigationData)},
			onSuccess: function(transport) {

				location.href = "<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>";
			},
			onFailure: function() { 
				alert('Something went wrong...'); 
			}
		});

		
	}
</script>

<hr>

<button id="save-navigation" title="Save Navigation" type="button" onclick="SaveNavigation()" class="scalable add"><span><span><span>Salva tutte le modifiche</span></span></span></button>
